body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Dark {
  --Color: #fff;
  --BG: rgb(37, 41, 45);
  color: var(--Color);
  background-color: var(--BG);
  min-height: 100vh;
}

.Light {
  --Color: rgb(37, 41, 45);
  --BG: #fff;
  color: var(--Color);
  background-color: var(--BG);
}
