#HomePage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 57px);
  color: var(--Color);
  background-color: var(--BG);
}
#HomePage h2 {
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}
